{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About Us - Bootstrap E-commerce Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!-- bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">      
    <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet"/>        
    <link href="{% static 'themes/css/bootstrappage.css' %}" rel="stylesheet"/>
    <link href="{% static 'themes/css/flexslider.css' %}" rel="stylesheet"/>
    <link href="{% static 'themes/css/main.css' %}" rel="stylesheet"/>
    <script src="{% static 'themes/js/jquery-1.7.2.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>                
    <script src="{% static 'themes/js/superfish.js' %}"></script>    
    <script src="{% static 'themes/js/jquery.scrolltotop.js' %}"></script>
</head>
<body>        
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form method="POST" class="search_form">
                    <input type="text" class="input-block-level search-query" placeholder="eg. T-shirt">
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">                
                        <li><a href="{% url 'register' %}">My Account</a></li>
                        <li><a href="{% url 'cart' %}">Your Cart</a></li>
                        <li><a href="{% url 'checkout' %}">Checkout</a></li>                    
                        <li><a href="{% url 'register' %}">Login</a></li>        
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">                
                <a href="{% url 'index' %}" class="logo pull-left"><img src="{% static 'themes/images/logo.png' %}" class="site_logo" alt=""></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li><a href="{% url 'product' %}">Woman</a></li>
                        <li><a href="{% url 'product' %}">Man</a></li>
                        <li><a href="{% url 'product' %}">Sport</a></li>
                        <li><a href="{% url 'product' %}">Hangbag</a></li>
                        <li><a href="{% url 'product' %}">Best Seller</a></li>
                        <li><a href="{% url 'product' %}">Top Seller</a></li>
                    </ul>
                </nav>
            </div>
        </section>            

        <section class="header_text sub">
            <img class="pageBanner" src="{% static 'themes/images/pageBanner.png' %}" alt="About Us">
            <h4><span>About Us</span></h4>
        </section>

        <section class="main-content">                
            <div class="row">
                <div class="span12">  
                    <h4 class="title"><span class="text"><strong>Our Company</strong></span></h4>
                    <p>
                        Welcome to our store! We are dedicated to providing you with the best online shopping experience.
                        Our product range from fashion to accessories, electronics, and more. Quality and customer satisfaction are our top priorities.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has been the industry's standard dummy text ever since the 1500s.
                    </p>
                    <p>
                        Our mission is to bring the best product at competitive prices with fast delivery and excellent support.
                    </p>
                </div>                
            </div>
        </section>            

        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li><a href="{% url 'index' %}">Homepage</a></li>  
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'cart' %}">Your Cart</a></li>
                        <li><a href="{% url 'register' %}">Login</a></li>                            
                    </ul>                    
                </div>
                <div class="span4">
                    <h4>My Account</h4>
                    <ul class="nav">
                        <li><a href="{% url 'register' %}">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
                <div class="span5">
                    <p class="logo"><img src="{% static 'themes/images/logo.png' %}" class="site_logo" alt=""></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <br/>
                    <span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>
                </div>                    
            </div>    
        </section>

        <section id="copyright">
            <span>Copyright 2013 bootstrappage template All rights reserved.</span>
        </section>
    </div>
    <script src="{% static 'themes/js/common.js' %}"></script>
</body>
</html>
